body {
    background-color: rgb(0, 0, 0);
    background-image: url('None');
    background-attachment: fixed;
    background-size: cover
}

h {
    margin-left: 50px;
    font-size: 50px
}

p1 {
    font-size: 50px;
    margin-left: 500px
}

p {
    font-size: 50px;
    margin-left: 500px
}

button {
    width: 500px;
    height: 100px;
    margin-left: 500px
}

.test {
    transition: 1s;
    width: 100px;
    height: 100px;
    margin-left: 300px
}

.test:hover {
    transform: scale(4)
}


html {
    scroll-behavior: smooth
}
